@font-face {
    font-family: FocusGoteskRegular;
    src: url('../fonts/OTF/FocusGrotesk-Regular.otf') format('OTF'),
        url('../fonts/TTF/FocusGrotesk-Regular.ttf') format('truetype')
}

@font-face {
    font-family: FocusGoteskBold;
    src: url('../fonts/OTF/FocusGrotesk-Bold.otf') format('OTF'),
        url('../fonts/TTF/FocusGrotesk-Bold.ttf') format('truetype')
}

@font-face {
    font-family: FocusGoteskBoldItalic;
    src: url('../fonts/OTF/FocusGrotesk-BoldItalic.otf') format('OTF'),
        url('../fonts/TTF/FocusGrotesk-BoldItalic.ttf') format('truetype')
}

body {
    background-image: url('../images/EnConstrucción.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.socialNetworks {
    margin-top: 40%;
    margin-left: 84%;
}

.icon {
    color: #FFFFFF;
    margin-right: 32px;
    margin-bottom: 16px;
    font-size: 3rem;
}